// МОЇ ПОСЛУГИ



// Мобільна версія 390px

.blog_title {
   display: flex;
   flex-direction: column;
   margin: 0 0 20px 0;
}

.blog_heading {
   color: $color-primary;
   font-family: "Syne", serif;
   font-size: 36px;
   font-weight: 600;
   letter-spacing: 0.1em;
   margin-bottom: 18px;
}


.blog-list {
   display: flex;
   flex-direction: column;
   margin: 50px 0;

}

.blog-item {
   position: relative;
   display: flex;
   width: 360px;
   height: 560px;
   flex-direction: column;
   justify-content: center;
   margin-top: 36px;
}


.blog-img {
   width: 398px;
   height: 418px;
}
.blog-item-teg{
	display: block;
   color: $color-primary;
   font-family: "Roboto", serif;
   font-size: 16px;
   font-weight: 400;
   background-color: #F1F1F1;
   border-radius: 50px;
   margin: 24px 0 0 0;
   padding: 12px 24px;

}
.blog-item-text {
   color: $color-primary;
   font-family: "Syne", serif;
   font-size: 24px;
   font-weight: 500;
   margin: 16px 0;
}

.blog-item-data{
   color: $color-primary;
   font-family: "Roboto", serif;
   font-size: 18px;
   font-weight: 400;
}


// Планшетна версія 768px
@media screen and (min-width: 768px) {
.blog_title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.blog_heading {
   width: 60%;
   font-size: 48px;
}


.blog-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   margin: 0;

}

.blog-item {
   width: 356px;
   height: 540px;
   margin-top: 24px;
}


.blog-img {
   width: 356px;
}

}
// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {}
