body{
   color: $color-primary;
   background-color: $color-white;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, ul, p, li{
   margin: 0;
   padding: 0;
	list-style: none;
}
img{
   display: block;
   max-width: 100%;
   height: auto;
	margin: 0;
   padding: 0;
}

@media screen and (min-width: 390px) {
   .container{
		width: 390px;
		margin-right: auto;
   	margin-left: auto;
   	padding-left: 16px;
   	padding-right: 16px;
   }
}

@media screen and (min-width: 768px) {
	.container{
		width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.container{
		width: 1200px;
	}
}
