// МОЇ ПОСЛУГИ



// Мобільна версія 480px
.feedback_container{
    // background-color: $color-primary;
    padding: 50px 0;
    outline: 1px solid red;
}
.feedback_heading{
    color: $color-white;
    font-family: "Syne", serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.feedback_heading-span{
    color: $color-accent;
}
.feedback_text{
    font-family: "Roboto", serif;
        font-size: 18px;
        font-weight: 400;
        opacity: 0.8;
        color: $color-white;
        margin-top: 16px;
        
}


  
// Планшетна версія 768px
@media screen and (min-width: 768px) {
    // .service_container {
    //         padding: 60px 0;
    //         border-radius: 50px;
    //     }
    
    //     .service-title {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //         align-items: center;
    //     }
    
    //     .service_heading {
    //         font-size: 38px;
    //     }
    
    
    //     .service_text {
    //         width: 360px;
    //         font-size: 18px;
    //         margin-top: 0;
    
    //     }
    
    //     .service-list {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         gap: 10px;
    //         align-items: center
    //     }
    
    //     .service-item {
    //         width: 415px;
    //         height: 498px;
    //         margin-top: 81px;
    //     }
    
    //     .service-item-text {
    //         font-size: 36px;
    //     }
    
    //     .service-img {
    //         width: 415px;
    //         height: 340px;
    //         margin-top: 51px;
    //     }

}


// Десктоптна версія 1440px
@media screen and (min-width: 1440px) {
// .service_container {
//         padding: 100px 0;
//     }

   
//     .service_heading {
//         font-size: 48px;
//     }


//     .service_text {
//         width: 435px;
//         font-size: 20px;
//         margin-top: 0;

//     }

//     .service-list {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: nowrap;
//         gap: 10px;
//     }

//     .service-item {
//         width: 415px;
//         height: 498px;
//         margin-top: 81px;
//     }

//     .service-item-text {
//         font-size: 36px;
//     }

//     .service-img {
//         width: 415px;
//         height: 340px;
//         margin-top: 51px;
//     }
    }