// ПІДВАЛ СТОРІНКИ



// Мобільна версія 480px
.footer {
    background-color: $color-primary;
    padding: 105px 0 50px 0;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

}

.footer_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.footer_heading {
    color: $color-white;
    font-family: "Syne", serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.footer_main{
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid #ffffff40;
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
    
}


// .footer__address {
//     text-align: center;
//     color: $color-white;
//     margin-top: 20px;   
// }

// .footer__street {
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     margin-bottom: 9px;
// }

.footer_link-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-top: 16px;
}
.footer_link-item{
    display: flex;
        padding: 0;
        border: none;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: color 250ms $timing-function,
            fill 250ms $timing-function;
    
        &:hover,
        &:focus {
            fill: $color-accent;
        }
}

// .footer__mailto {
//     margin-bottom: 9px;
// }



// Планшетна версія 768px
@media screen and (min-width: 768px) {
// .footer-container {
//     display: flex;
//     padding: 0;
// }
// .footer__item {
//     margin-left: 61px;
//     margin-right: auto;
// }
}





// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
// .footer__main {
//     display: flex;
// }
// .footer__item {
//     width: 231px;
//     text-align: left;
//     margin-left: 0;
//     margin-right: 0;
// }
// .footer__address {
//     text-align: left;

// }
}


