// ЦЕНТРАЛЬНА СТОРІНКА - ГЕРОЙ

// Мобільна версія 480px

.hero {
    padding-top: 64px;
    outline: 1px solid red;

}
.hero_container{
    display: flex;
    width: 391px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
}
.hero_text{
    display: flex;
    width: 87px;
    height: 41px;
        outline: 1px solid black;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    font-family: "Syne", serif;
        font-style: normal;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.62;
        margin-bottom: 12px;
        
}
.hero__title {

    font-family: "Syne", sans-serif;
        font-style: normal;
        font-size: 28px;
    font-weight: 700;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 81px;
    color: $color-black;
}
.hero__title-span{
    color: $color-accent;
}
.hero_background{

    background-color: #fe4519;
        height: 335px;
        width: 398px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: auto;
    background-color: $color-accent;
    border-top-left-radius: 580px;
    border-top-right-radius: 580px;

}
.hero_button-list {
    list-style: none;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 378px;
        height: 67px;
        margin: 16px auto;
        padding: 0;
        border-radius: 50px;
    

}
.hero__btn1 {
    list-style: none;
        background-color: $color-accent;
        width: 175px;
        height: 54px;
        margin: auto;
        padding: 0;
        border-radius: 50px;
        border-color: inherit;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: $color-white;
        cursor: pointer;
    padding: 12px 24px;
}
.hero__btn2 {
    list-style: none;
    background-color: $color-white;
    width: 175px;
    height: 54px;
    margin: auto;
    padding: 0;
    border-radius: 50px;
    border-color: $color-black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: $color-black;
    cursor: pointer;
    padding: 12px 24px;
}


// Планшетна версія 768px
@media screen and (min-width: 768px){
    .hero {
        padding-top: 57px;
    }
        .hero_container {
            width: 640px;
            
        }
        .hero_text {
            width: 102px;
            height: 48px;
            font-size: 24px;
            margin-bottom: 0;
        }
    
        .hero__title {
            font-size: 46px;
            font-weight: 500;
            margin-bottom: 198px;
        }
    
        .hero__title-span {
            color: $color-accent;
        }
    
        .hero_background {
            width: 560px;
            border-top-left-radius: 560px;
            border-top-right-radius: 560px;
        }
    
        .hero_button-list {
            gap: 12px;
            width: 476px;
            height: 86px;
            margin: 8px auto;
            padding: 0;
            border-radius: 50px;
        }
    
        .hero__btn1 {
            width: 224px;
            height: 70px;
            font-size: 32px;
            padding: 12px 24px;
        }
    
        .hero__btn2 {
            width: 224px;
                height: 70px;
                font-size: 32px;
                padding: 12px 24px;
        }
}
    




// Десктоптна версія 1440px
@media screen and (min-width: 1440px) {
    .hero_background {
            width: 752px;
            border-top-left-radius: 420px;
            border-top-right-radius: 420px;
        }
}
