// ЛОГОТИП


.logo {
    color: $color-white;
    font-family: "Yeseva One", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    
        
}

.logo__span {
    display: flex;
        width: 41px;
        height: 41px;
        border-radius: 25px;
        background-color: #fe4519;
        font-family: "Yeseva One", sans-serif;
        font-style: normal;
        font-size: 26px;
        line-height: 1.17;
        color: #fff;
        align-items: center;
        justify-content: flex-star;
        padding-left: 10px;
        margin: auto 0;
}
// Планшетна версія 768px
@media screen and (min-width: 768px) {
.logo{
    margin: 26px 0;
}
}

// Планшетна версія 1200px
@media screen and (min-width: 1200px) {
.logo {
    font-size: 26px;
    line-height: 1.2;
}
}