// Portfolio

// Мобільна версія 390px

.portfolio{
   display: flex;
	flex-direction: column;
   margin-top: 50px;
}
.portfolio__heading {
   // width: 50%;
   color: $color-black;
   font-family: "Syne", serif;
   font-size: 36px;
   font-weight: 600;
	margin-bottom: 18px;
}

.portfolio__heading-span {
   color: $color-accent;
}
.card__container{
   display: grid;
   align-items: center;
   justify-content: center;
   margin: 40px auto 18px auto;
}
.card__items{
   display: flex;
	flex-wrap: wrap;

}
.card__item{
   display: flex;
   align-items: center;
   justify-content: center;
   color: $color-secondary;
   font-family: "Roboto", serif;
   font-size: 16px;
   font-weight: 400;
   background-color: #F1F1F1;
   border-radius: 50px;
   margin: 0 auto 12px auto;
   padding: 12px;
}
.card__heading{
   color: $color-primary;
	text-align: center;
   font-family: "Syne", serif;
   font-weight: 600;
   font-size: 24px;
   margin-bottom: 18px;
	padding: 0 12px;
}

// Configuration parameters
// Define width of individual slide (% or px)
$slide-width: 78%;

// Define gap between the slides
$slide-separation: 40px;

$distance: 1000px;

#carousel {
   perspective: $distance;
   overflow: hidden;

   #scene {
   	width: $slide-width;
   	margin: 40px auto 0 auto;
      transform-style: preserve-3d;
      transition: transform 0.9s;

      .carousel__item {
         width: 100%;
         box-sizing: border-box;
         padding: 0 (calc($slide-separation / 2)) 0 (calc($slide-separation / 4));
         backface-visibility: hidden;

         &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
            }
      }
   }

   #carousel__btn {
   	width: 146px;
      margin: 20px auto 20px auto;
      user-select: none;
   }

   #carousel__btn .btn {
      width: 68px;
      height: 45px;
      line-height: 42px;
      padding-left: 16px;
      box-sizing: border-box;
      border-radius: 50px;
      float: left;
      border: 1px solid $color-accent;
      color: #2f2f2f;
      font-family: "Roboto", serif;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.9s;
      margin-bottom: 90px;
   }

   #carousel__btn .btn:hover {
      background-color: $color-accent;
      color: $color-white;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   #carousel__btn>div:first-child {
      margin-right: 10px;
   }
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
   .portfolio{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   
   .portfolio__heading {
      width: 60%;
      font-size: 48px;
   }

   .card__item {
      font-size: 24px;
   }
   
   .card__heading {
      font-size: 36px;
   }

}

// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {}

