// МОЇ ПОСЛУГИ



// Мобільна версія 430px
.service_container{
   background-color: $color-primary;
   padding: 50px 0;
}
.service-title{
   display: flex;
   flex-direction: column;
   padding-bottom: 24px;
   border-bottom: 1px solid $color-white;
}
.service_heading{
   color: $color-white;
   font-family: "Syne", serif;
   font-size: 40px;
   font-weight: 600;
   letter-spacing: 0.1em;
}
.service_heading-span{
   color: $color-accent;
}
.service_text{
   font-family: "Roboto", serif;
   font-size: 18px;
   font-weight: 400;
   opacity: 0.8;
   color: $color-white;
   margin-top: 16px;
}
.service-list {
   display: flex;
   flex-direction: column;
}

.service-item{
   position: relative;
   display: flex;
   height: 456px;
   flex-direction: column;
   justify-content: center;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50px;
   margin-top: 40px;
}
.service-item-text{
   display: flex;
   color: $color-white;
   font-family: "Syne", serif;
   font-size: 32px;
   font-weight: 500;
   padding: 32px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.service-img{
   width: 398px;
   height: 350px;
   margin-top: 32px;
}
.service-button{
   position: absolute;
   right: 0;
   bottom: 0;
   width: 109px;
   height: 109px;
   border-radius: 50px;
   background: rgba(116, 115, 115, 0.1);
   border: none;
   justify-content: center;
   align-content: center;
   cursor: pointer;
   fill: $color-white;
   transition: $timing-function;

   &:hover,
   &:focus {
      background: $color-accent;
   }
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
   .service_container {
      padding: 60px 0;
      border-radius: 50px;
}
   .service-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .service_heading {
      font-size: 48px;
   }
   .service_text {
      width: 360px;
      font-size: 18px;
      margin-top: 0;
      opacity: 0.8;
   }

   .service-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center
   }

   .service-item {
      width: 356px;
      height: 468px;
      margin-top: 81px;
   }

   .service-item-text {
   	font-size: 36px;
   }

   .service-img {
      width: 356px;
      height: 340px;
      margin-top: 51px;
   }
}


// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.service_container {
   padding: 50px 0;
}

.service_heading {
   font-size: 48px;
   }


.service_text {
   width: 460px;
   font-size: 20px;
   margin-top: 0;
}

.service-list {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   gap: 10px;
}
.service-item {
   width: 415px;
   height: 498px;
   margin-top: 81px;
}

.service-item-text {
   font-size: 36px;
}

.service-img {
   width: 415px;
   height: 340px;
   margin-top: 51px;
}
}