// НАВІГАЦІЯ ПО САЙТУ


.site-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: auto;
    
}

.site-nav__item {
   font-family: 'Roboto' sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 1.18;
   letter-spacing: 0.02em;
}

.site-nav__link {
   display: flex;
   align-items: center;
   color: $color-white;
   transition: color 250ms $timing-function;
   text-decoration: none;

   &:hover,
   &:focus{
      color: $color-accent;
   }
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
.site-nav {
        display: flex;
        flex-direction: row;
        gap: 40px;
margin-bottom: 0;
align-items: center;
    justify-content: center;
    }

    .site-nav__item {
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    }

    .site-nav__link {
        display: flex;
        align-items: center;
        color: $color-white;
        transition: color 250ms $timing-function;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }

    .current {
        color: $color-accent;
    }
}
// Планшетна версія 1440px
@media screen and (min-width: 1440px) {
.site-nav {
    gap: 70px;
}
}
