// ЧИМ МИ ЗАЙМАЄМОСЯ

// Мобільна версія 390px
.work{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}
.work_heading{
   display: flex;
   width: 325px;
   font-family: "Syne", serif;
	text-align: center;
   font-size: 40px;
   font-weight: 600;
   letter-spacing: 0.1em;
   justify-content: center;
   margin-bottom: 50px;
}
.work-item{
    display: flex;
    width: 360px;
    flex-direction: column;
    padding-bottom: 48px;
    border-left: 1px dashed $color-primary;
}
.work-item-box{
    margin-bottom: 24px;
    margin-left: 28px;
}
.work-title{
    font-family: "Syne", serif;
    font-size: 32px;
    font-weight: 600;
    
}
.work-text{
font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 400;
    color: #484848;
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
.work {
    margin-top: 100px;
    margin-bottom: 100px;
}

.work_heading {
    width: 600px;
    font-size: 48px;
}

.work-item {
    display: flex;
    width: 736px;
    flex-direction: row;
    padding-bottom: 60px;
    justify-content: space-between;

}

.work-item-box {
    width: 642px;
    margin-bottom: 24px;
    margin-left: 28px;
}

.work-title {
    font-size: 36px;
}

.work-text {
    font-size: 24px;
}
}


// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.work {
    margin-top: 100px;
    margin-bottom: 100px;
    }

    .work_heading {
        width: 600px;
        font-size: 48px;
    }

    .work-item {
        display: flex;
        width: 1249px;
        flex-direction: row;
        padding-bottom: 60px;
        justify-content: space-between;

        // outline: 1px solid red;
    }

    .work-item-box {
        width: 642px;
        margin-bottom: 24px;
        margin-left: 28px;
    }

    .work-title {
        font-size: 36px;

    }

    .work-text {
        font-size: 24px;
    }
}
